.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.mat-card-avatar {
  height: 80px;
  width: 80px;
}

.content {
  font-size: 14px;
}

.rotation {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
