<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-toolbar>
  <mat-slide-toggle [(ngModel)]="isArchived" (change)="fetchCourses()">Archived</mat-slide-toggle>
</mat-toolbar>
<div class="box" style="height: auto;">
  <div gdGap="10px" gdColumns="repeat(auto-fill, minmax(200px, 1fr))">
    <mat-card *ngFor="let course of courses">
      <mat-card-content>
        <img mat-card-image [src]="course.image_480x270" [alt]="course.title">
        <mat-card-title class="content">{{course.title}}</mat-card-title>
        <div *ngFor="let user of course.visible_instructors">
          {{user.display_name}}
        </div>
        <br/>
        <mat-progress-bar mode="determinate" [value]="course.completion_ratio"></mat-progress-bar>
        {{course.completion_ratio}}% Complete
      </mat-card-content>
      <mat-card-actions>
        <ng-container *ngIf="getCourseMetadata(course.title, course.visible_instructors); let metadata; else downloadContainer">
          <button mat-icon-button *ngIf="metadata.complete" color="primary"
                  matTooltip="Completely downloaded.">
            <mat-icon>cloud_done</mat-icon>
          </button>
          <button mat-icon-button *ngIf="metadata.complete"
                  (click)="download(course.id, course.title, course.image_480x270, course.visible_instructors)"
                  [disabled]="progress" color="primary"
                  matTooltip="Check for updates.">
            <mat-icon>sync</mat-icon>
          </button>
          <button mat-icon-button *ngIf="!metadata.complete"
                  (click)="download(course.id, course.title, course.image_480x270, course.visible_instructors)"
                  [disabled]="progress" color="primary"
                  matTooltip="Recheck for errors.">
            <mat-icon>sync_problem</mat-icon>
          </button>
        </ng-container>
        <ng-template #downloadContainer>
          <button mat-icon-button (click)="download(course.id, course.title, course.image_480x270, course.visible_instructors)"
                  [disabled]="progress" color="primary"
                  matTooltip="Downloaded course into the application home folder.">
            <mat-icon>cloud_download</mat-icon>
          </button>
        </ng-template>
        <button mat-icon-button routerLink="/courses/{{course.id}}">
          <mat-icon>web_asset</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="box footer" *ngIf="progress">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar [src]="progress.image" [alt]="progress.title"/>
      <mat-card-title>{{progress.title}}</mat-card-title>
      <mat-card-subtitle>{{progress.instructors[0].display_name}}</mat-card-subtitle>
      <mat-card-subtitle>
        <mat-progress-bar *ngIf="progress.progress; else indeterminate;" mode="determinate"
                          [value]="progress.progress.percentage"></mat-progress-bar>
        <mat-hint *ngIf="progress.progress">Downloaded {{progress.progress.downloaded}}
          from {{progress.progress.total}} files.
        </mat-hint>
        <mat-error *ngIf="progress.progress && progress.progress.errors > 0"> {{progress.progress.errors}} Errors during downloading.
          Please try again.
        </mat-error>
        <ng-template #indeterminate>
          <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
        </ng-template>
      </mat-card-subtitle>
      <mat-card-actions *ngIf="progress.progress">
        <button mat-stroked-button *ngIf="progress.progress.isDone && progress.progress.errors > 0"
                (click)="download(progress.id, progress.title, progress.image, progress.instructors)">
          Retry
        </button>
        <button mat-stroked-button *ngIf="progress.progress.isDone"
                (click)="progress = null">
          Close
        </button>
      </mat-card-actions>
    </mat-card-header>
  </mat-card>
</div>
