<div class="box" style="height: auto;">
  <div gdGap="10px" gdColumns="repeat(auto-fill, minmax(200px, 1fr))">
    <mat-card *ngFor="let course of courses">
      <mat-card-content>
        <img mat-card-image [src]="course.image_240x135" [alt]="course.title">
        {{course.title}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="download(course)">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button mat-icon-button routerLink="/courses/{{course.id}}">
          <mat-icon>web_asset</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
