<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">
      <mat-icon>pets</mat-icon> ZooDemy
    </button>
    <button mat-icon-button routerLink="/courses">
      <mat-icon>subscriptions</mat-icon>
    </button>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput placeholder="Search">
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-icon-button (click)="reload()" *ngIf="isReloadable">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
