<div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <h3>Settings</h3>
  <input type="file" webkitdirectory style="display: none" #downloadPathInput
         (change)="onDownloadPathChange($event)"/>

  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutAlign="space-around none">

    <mat-form-field appearance="outline">
      <mat-label>Download Path</mat-label>
      <input matInput formControlName="downloadPath" type="text" readonly>
      <button matSuffix mat-icon-button (click)="downloadPathInput.click();">
        <mat-icon>web_asset</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Video Quality</mat-label>
      <mat-select formControlName="videoQuality" [disabled]="true">
        <mat-option *ngFor="let vq of videoQualityList" [value]="vq">
          {{vq}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="downloadAttachments" [disabled]="true">
      Download Attachments ? (not working at the moment)
    </mat-checkbox>
    <mat-checkbox formControlName="downloadSubtitles" [disabled]="true">
      Download Subtitles ? (not working at the moment)
    </mat-checkbox>
    <br/>
    <button mat-raised-button color="primary" type="submit" [disabled]="!settingsForm.valid">
      Save
    </button>
  </form>
</div>
